.India-page {
  height:400px;
  width: 200px;
  float: left;
  background-color:rgb(252, 252, 252);

  //border-style:solid;
  fill-opacity:0.2 ;
  mixed-blend-mode: darken;

  a {
    color: black;
    opacity: 10;
    //background-color: rgb(253, 253, 255);
  }
}

.matches-container {
 width: 800px;
 height: 500px;
}

.tab-style {
  width: 500px;
  height: 500px;
}
