.desc-container {
  background-color: rgb(253, 241, 241);
  padding-left: 10%;
  padding-top: -100px;
  text-align: inherit;
  border-bottom: double;
  border-radius: 5%;
  p {
    font-family: Helvetica Nue;
    font-weight: 500;
    font-style: italic;
    color: black;
    font-size: large;
    padding-top: 20px;
    padding-left: 150px
  }
}

.container {
  height: 70px
}
