<div class="container-fluid ">
  <div class="parallax">
<div class="desc-container">
  <p> Get your stats refreshed </p>
</div>
  </div>
  <div class="col-md-10 text-container">
    <div class=" container text-style">
      <p> Choose a country you like to explore stats :</p>
    </div>
    <div class="home-container" *ngFor="let country of countryList">

      <img src="./../../assets/Flags/{{country}}.png" style="width:60px; height:40px;"/>


      <div class="flag-text">
        <a routerLink = "{{country}}">{{country}} </a>
      </div>
    </div>
  </div>
</div>
